* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 2% 1% 2% 1%;
}
header {
  border: 1px solid black;
  float: left;
  width: 100%;
  padding: 8%;
  border-bottom: none;
}
.maincontent {
  border: 1px solid black;
  float: left;
  width: 33.33%;
  padding: 14.8%;
}
main {
  border: 1px solid black;
  display: inline-block;
  width: 33.33%;
  padding: 14.8%;
  border-left: none;
  border-right: none;
}
.columncontent {
  border: 1px solid black;
  float: right;
  width: 33.33%;
  padding: 14.8%;
}
